body {
  font-size: 14px !important;
}

.font-play {
  font-family: 'Play', sans-serif;
}

.table-border {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 0 8px 1px #adb5bd;
}

.table-head {
  background-color: #f6f6f7;
  width: 48px !important;
}

table th,
table td {
  padding-left: 24px !important;
  cursor: pointer;
}

.alert-n {
  font-weight: bold;
  padding: 3px 10px 3px 10px;
  border-radius: 16px;
}

.text-secondary {
  cursor: pointer;
}

.filter-box {
  display: flex;
  flex-direction: row;
}

.filter-menu {
  border: none !important;
}

.filter-menu:focus {
  box-shadow: none !important;
}

.fa-filter {
  margin-top: 14px;
}

.modal-size .modal-content {
  width: 648px !important;
}

.links a {
  color: black;
  margin-right: 4px;
}

.mission-name {
  font-weight: bold;
}
